<div class="container">
    <form method="post" class="col-6 justify-content-center" enctype="multipart/form-data">
        <div class="form-group">
            <input type="hidden" value="{{ product.id }}" name="id">

            <label for="name">Nom du Produit: </label>
            <input type="text" class="form-control" value="{{ product.name }}" id="name" name="name"  pattern="/^[a-zA-Z0-9]+$/" placeholder="Doudou" required/>

            <label for="msg">Description : </label>
            <textarea type="text" class="form-control" value="{{ product.description }}" id="msg" name="Description" pattern="/^[a-zA-Z0-9]+$/" placeholder="description" cols="25" required>{{ product.description }}</textarea>

            <label for="name">Prix : </label>
            <input type="text" class="form-control" value="{{ product.price }}" id="price" name="Price" pattern="/^[0-9]+$/" placeholder="Price">

            <label for="name">Catégorie : </label>
            <select class="form-control custom-select mr-sm-2" id="category"name="Category"  placeholder="Category">
                <option selected>Category</option>
                <option value="{{ product.category_id }}">Category{{ product.category }}</option>
                <option value="{{ product.category_id}}">Category{{ product.category }}</option>
                <option value="{{ product.category_id}}">Category{{ product.category }}</option>
            </select>

            <label for="name">Marque : </label>
            <select class="form-control custom-select mr-sm-2" id="brand" name="Brand" placeholder="Brand">
                <option selected>Brand</option>
                <option value="{{ product.brand_id }}">Brand{{ product.brand }}</option>
                <option value="{{ product.brand_id }}">Brand{{ product.brand }}</option>
                <option value="{{ product.brand_id }}">Brand{{ product.brand }}</option>
            </select>

            <div class="row justify-content-start">
                <label for="name">Image : </label>
                <div class="col-5 btn-file">
                    <label for="fichier">Ajouter un fichier : </label>
                    <input type="file" name="fichier"/>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-2">
                    <button type="submit" class="btn btn-success">Valider</button>
                </div>
            </div>
        </div>
    </form>
</div>

