<form method="post" class="col-6 justify-content-center" enctype="multipart/form-data">
<div class="form-group">
    <input type="hidden" value="{{ product.id }}" name="id">
    <label for="name">Nom du Produit: </label>
    <input type="text" class="form-control" value="{{ product.name }}" id="name" name="name" placeholder="Doudou">
    <label for="name">Description : </label>
    <input type="text" class="form-control" value="{{ product.description }}" id="description" name="Description" placeholder="description">
    <label for="name">Prix : </label>
    <input type="text" class="form-control" value="{{ product.price }}" id="Price" name="Price" placeholder="Price">
    <label for="name">Catégorie : </label>
    <input type="text" class="form-control" value="{{ product.category }}" id="Price" name="Price" placeholder="Price">
    <label for="name">Marque : </label>
    <input type="text" class="form-control" value="{{ product.brand }}" id="Price" name="Price" placeholder="Price">
    <div class="row justify-content-start">
        <label for="name">Image : </label>
        <div class="col-5 btn-file">
            <label for="fichier">Ajouter un fichier : </label>
            <input type="file" name="fichier"/>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-2">
            <button type="submit" class="btn btn-success">Valider</button>
        </div>
    </div>
</div>
</form>
