{% extends 'Admin/layoutAdmin.html.twig' %}
{% block content %}
    {% if error is not empty %}
    <div class="alert alert-danger">
        <p>{{ error }}</p>
    </div>
    {% endif %}
    <div class="container pt-5">
        <div class="row justify-content-center">
            <h1>Produits</h1>
        </div>
        <div class="row justify-content-center pt-5 pb-5">
            <a href="/product/add" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Ajouter</a>

        </div>

            <table class="table">
                <thead class="thead-dark">
                <tr>

                    <th scope="col">Nom du produit</th>
                    <th scope="col">Image</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                <tr>

                    <td>{{ product.name }}</td>
                    {% if product.picture is not empty %}
                        <td><img class="img-adm" src="/../assets/images/ProductImages/{{ product.picture }}" alt="{{product.name}}"></td>
                    {% else %}
                        <td><img src="https://via.placeholder.com/150x150" alt=""></td>
                    {% endif %}
                    <td><a href="/admin/product/update/{{ product.id }}" class="btn btn-secondary btn-md active mt-5" role="button" aria-pressed="true">Modifier</a></td>

                    <td><button type="button" class="btn btn-danger mt-5" data-toggle="modal" data-target="#exampleModal{{ product.id }}">Supprimer</button>

                        <div class="modal fade" id="exampleModal{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title pl-1" id="exampleModalLabel">Confirmation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Vous souhaitez supprimer le Produit {{ product.name }} ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form action="" method="post" role="form">
                                            <input type="hidden"  name="deleteProduct" value="{{ product.id }}" >
                                            <button type="submit" class="btn btn-danger" name="delete">Supprimer</button>
                                        </form>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        {% if product.highlightedProduct == FALSE %}
                            <a class="highlight btn btn-info btn-md ml-5 mt-5" href="/admin/product/highlighted/{{ product.id }}">Je souhaite mettre en avant ce produit</a>
                        {% elseif product.highlightedProduct ==  TRUE %}
                            <a class="highlight btn btn-warning btn-md ml-5 mt-5" href="/admin/product/highlighted/{{ product.id }}">Ne plus mettre mettre en avant ce produit</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
