{% extends 'Admin/layoutAdmin.html.twig' %}
{% block content %}
    <div class ="container">
    <h1 class="row justify-content-center pt-5">Vous souhaitez suppimer le produit suivant :</h1>
        <div class="row justify-content-center pt-5">
        <div class="card text-center mt-5" style="width: 18rem;">
            {% if product.picture is not empty %}
            <img class="card-img-top" src="{{ product.picture }}" alt="{{ product.picture }}">
            {% else %}
            <img class="card-img-top" src="https://via.placeholder.com/150x150" alt="">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p>Pour confirmer votre choix, cliquez-ci après :</p>
                <a id="delete" href="/admin/product/delete/{{product.id}}" class="btn btn-danger ">Supprimer</a>
            </div>
        </div>
        </div>
            <div class="row justify-content-center pt-5">
            <a href='/admin/product/index' class="btn btn-dark ">Retour à la liste</a>
            </div>

    </div>
{% endblock %}
{% block text_javascript %}
<script type="text/javascript" src="/assets/js/alert.js"></script>
{% endblock %}